<!DOCTYPE html>
<html>
<head>
    <title>Список курсантів</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Список курсантів</h1>
<table>
    <tr><th>№</th><th>Звання</th><th>Прізвище</th><th>Імя</th><th>По-батькові</th><th>Рік народження</th><th>Адреса</th></tr>
    {{#each cadets}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.zvanny}}</td>
            <td>{{this.lastname}}</td>
            <td>{{this._name}}</td>
            <td>{{this.fathername}}</td>
            <td>{{this.yearborn}}</td>
            <td>{{this.address}}</td>
        </tr>
    {{/each}}
</table>
</body>
<html>